.container {
  max-width: 43rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  max-width: 1032px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.logo {
  width: 65%;
  display: flex;
  align-items: center;
}

.logo h1 {
  margin-left: 2rem;
}

.headerMenus {
  display: flex;
  align-items: center;
}

.headerMenus a {
  color: #1b2733;
  background-color: rgba(13, 12, 34, 0.05);
  padding: 9px 16px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 8px;
  text-decoration: none;
  margin-right: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.headerMenus a:hover {
  text-decoration: none;
  background: rgba(13, 12, 34, 0.1);
}

.headerImage {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  border-radius: 100%;
}

.headerImage image {
  width: 5rem;
  height: 5rem;
}

.backToHome {
  margin: 3rem 0 0;
}

@media only screen and (max-width: 800px) {
  .logo h1 {
    display: none;
  }
  .logo {
    width: calc(100% - 40px);
  }
}
